<template name="PRTOopisanie">
	<div>
		<h3 class="text-center">
			Санитарно-эпидемиологические правила и нормативы СанПиН 2.1.8/2.2.4.1383-03 "Гигиенические требования к размещению и эксплуатации передающих радиотехнических объектов"
		</h3>
		<p>
			I.   Общие положения и область применения<br>
			II.  Нормируемые параметры и единицы измерения<br>
			III. Гигиенические требования к передающим радиотехническим объектам<br>
			IV.  Требования к проведению контроля уровней электромагнитных  полей,  создаваемых  передающими радиотехническими объектами и их оборудованием<br>
			&nbsp;&nbsp;&nbsp;4.1. Общие требования к проведению контроля<br>
			&nbsp;&nbsp;&nbsp;4.2. Требования  к  проведению  инструментального  контроля  уровней электромагнитных полей<br>
			V.   Мероприятия  по  профилактике  неблагоприятного    воздействия на человека  электромагнитных  полей   передающих   радиотехнических объектов<br>
			VI.  Требования к организации и проведению производственного контроля <br>
			Приложение 1. Предельно  допустимые  уровни   электромагнитных   полей диапазона частот 30 кГц - 300 ГГц<br>
			Приложение 2. Перечень сведений,  подлежащих  включению  в  санитарно-эпидемиологическое заключение и приложения к нему
		</p>
		<br>
		<h4 class="text-center">
			I. Общие положения и область применения
		</h4>
		<br>
		<p>
			1.1. Настоящие государственные санитарно-эпидемиологические правила и нормативы (Санитарные правила) разработаны в соответствии с Федеральным законом "О санитарно-эпидемиологическом благополучии населения от 30 марта 1999 года N 52-ФЗ (Собрание законодательства Российской Федерации, 1999, N 14, ст.1650) и Положением о государственном санитарно-эпидемиологическом нормировании, утвержденного постановлением Правительства Российской Федерации N 554 от 24 июля 2000 года (Собрание законодательства Российской Федерации, 2000, N 31, ст.3295).<br>
			1.2. Санитарные правила действуют на всей территории Российской Федерации и устанавливают гигиенические требования к размещению и эксплуатации стационарных передающих радиотехнических объектов (ПРТО), работающих в диапазоне частот 30 кГц - 300 ГГц, в том числе находящихся на специальных испытательных полигонах.<br>
			1.3. Действие настоящих Санитарных правил распространяется также на ПРТО, установленные на транспортных средствах (летательных аппаратах, морских и речных судах, поездах) на период их эксплуатации на постоянных или временных стоянках.<br>
			1.4. Требования Санитарных правил направлены на предотвращение неблагоприятного влияния на здоровье человека электромагнитных полей радиочастотного диапазона (ЭМП РЧ), создаваемых ПРТО радиосвязи, радиовещания, телевидения, радиолокации, радиолюбительского диапазона (3 - 30 МГц).<br>
			1.5. Требования настоящих Санитарных правил не распространяются на средства сухопутной подвижной радиосвязи, включая абонентские терминалы спутниковой связи, средства морской, речной и воздушной подвижной радиосвязи, размещенные на подвижных объектах, во время движения.<br>
			1.6. Санитарные правила предназначаются для юридических лиц, индивидуальных предпринимателей и граждан, осуществляющих проектирование, строительство, реконструкцию и эксплуатацию ПРТО, а также для органов и учреждений санитарно-эпидемиологической службы Российской Федерации, осуществляющей государственный надзор.<br>
			1.7. Производство, закупка, реализация и эксплуатация оборудования ПРТО должны осуществляться при наличии санитарно-эпидемиологического заключения на конкретный тип (модель) изделия в соответствии с установленным порядком.<br>
			1.8. Соблюдение требований настоящих Санитарных правил является обязательным для индивидуальных предпринимателей, юридических лиц и граждан.
		</p>
		<br>
		<h4 class="text-center">
			II. Нормируемые параметры и единицы измерения
		</h4>
		<br>
		<p>
			2.1. Оценка воздействия ЭМП РЧ ПРТО на население осуществляется:<br>
			&nbsp;&nbsp;&nbsp;- в диапазоне частот 30 кГц - 300 МГц - по эффективным значениям напряженности электрического поля (Е), В/м;<br>
			&nbsp;&nbsp;&nbsp;- в диапазоне частот 300 МГц - 300 ГГц - по средним значениям плотности потока энергии (ППЭ), мкВт/см2.<br>
			2.2. Оценка воздействия ЭЭН на персонал, обслуживающий оборудование ПРТО, осуществляется по энергетической экспозиции электрического поля ЭЭППЭ, магнитного поля ЭЭН, плотности потока энергии ЭЭППЭ.<br>
			Энергетическая экспозиция в диапазоне частот 30 кГц - 300 МГц рассчитывается по формулам:<br>
		</p>
		<!-- FOTO 1,2-->
		<p class="text-center"><img src="/images/prto/image001.gif"></p><br>
		<p class="text-center"><img src="/images/prto/image002.gif"></p>
		<p>
			где: Е - напряженность электрического поля; Н - напряженность магнитного поля.<br>
			Энергетическая экспозиция в диапазоне частот 300 МГц - 300 ГГц рассчитывается по формуле:<br>
		</p>
		<!-- FOTO 3-->
		<p class="text-center"><img src="/images/prto/image003.gif"></p>
		<p>
			где Т - время воздействия (в часах).<br>
		</p>
		<br>
		<h4 class="text-center">
			III. Гигиенические требования к передающим радиотехническим объектам
		</h4>
		<br>
		<p>
			3.1. Оборудование ПРТО не должно создавать на рабочих местах персонала электромагнитных полей, превышающих предельно допустимые уровни (ПДУ), указанные в приложении 1 (таблица 1).<br>
			3.2. Санитарно-эпидемиологические требования к условиям труда работающих, подвергающихся в процессе трудовой деятельности профессиональному воздействию ЭМП различных частотных диапазонов при любом характере воздействия ЭМП, должны соответствовать требованиям Санитарных правил по электромагнитным полям в производственных условиях.<br>
			3.3. Уровни ЭМП, создаваемые ПРТО на селитебной территории, в местах массового отдыха, внутри жилых, общественных и производственных помещений, подвергающихся воздействию внешнего ЭМП РЧ, не должны превышать ПДУ, указанных в приложении 1 (таблица 2) с учетом вторичного излучения.<br>
			Представленные в таблице 2 ПДУ для населения распространяются также на другие источники ЭМП РЧ.<br>
			3.4. При одновременном облучении от нескольких источников, для которых установлены одни и те же ПДУ, должны соблюдаться следующие условия:<br>
		</p>
		<!-- FOTO 4,5-->
		<p class="text-center"><img src="/images/prto/image004.gif"></p>
		<p class="text-center"><img src="/images/prto/image005.gif"></p>
		<p>
			где: E - напряженность электрического поля,  создаваемая  источником  ЭМП i  под i-тым номером;
			&nbsp;&nbsp;&nbsp;ППЭi - плотность потока  энергии, создаваемая источником ЭМП под  i-тым номером;
			&nbsp;&nbsp;&nbsp;ЕПДУ - ПДУ напряженности электрического поля нормируемого диапазона;
			&nbsp;&nbsp;&nbsp;ППЭПДУ - ПДУ плотности потока энергии нормируемого диапазона;
			&nbsp;&nbsp;&nbsp;n - количество источников ЭМП.
			&nbsp;&nbsp;&nbsp;При одновременном облучении от нескольких источников ЭМП, для которых установлены разные ПДУ, должны соблюдаться следующие условия:
		</p>
		<!-- FOTO 6-->
		<p class="text-center"><img src="/images/prto/image006.gif"></p>
		<p>
			где: Eсумм j       - суммарная напряженность электрического  поля,  создаваемая источниками ЭМП j-того нормируемого диапазона;<br>
			&nbsp;&nbsp;&nbsp;ЕПДУ j - ПДУ  напряженности электрического поля j-того нормируемого диапазона;<br>
			&nbsp;&nbsp;&nbsp;ППЭсумм k - суммарная плотность потока энергии, создаваемая  источниками ЭМП k-го нормируемого диапазона;<br>
			&nbsp;&nbsp;&nbsp;ППЭПДУ k - ПДУ плотности потока энергии k-того нормируемого диапазона;<br>
			&nbsp;&nbsp;&nbsp;m - количество диапазонов, для которых нормируется Е;<br>
			&nbsp;&nbsp;&nbsp;q - количество диапазонов, для которых нормируется ППЭ.<br>
			3.5. Уровни напряженности электрического поля частотой 50 Гц, создаваемые питающим и силовым оборудованием ПРТО внутри жилых и общественных зданий, не должны превышать ПДУ для населения.<br>
			3.6. На территориях (крышах), куда исключен доступ людей, не связанных непосредственно с обслуживанием оборудования ПРТО, должны соблюдаться требования для условий производственных воздействий ЭМП.<br>
			3.7. Утверждение проектной документации по строительству, реконструкции, техническому перевооружению, расширению и ввод в эксплуатацию построенных и реконструированных ПРТО допускается при наличии санитарно-эпидемиологических заключений о соответствии их настоящим Санитарным правилам.<br>
			3.8. Санитарно-эпидемиологические заключения выдаются центрами государственного санитарно-эпидемиологического надзора (далее по тексту - центры Госсанэпиднадзора) в субъектах Российской Федерации на основании результатов санитарно-эпидемиологической экспертизы.<br>
			Санитарно-эпидемиологическая экспертиза осуществляется органами и учреждениями Госсанэпиднадзора, организациями, аккредитованными в установленном порядке, экспертами.
			3.9. Санитарно-эпидемиологические заключения на ПРТО, расположенные на территориях и объектах специального назначения, выдаются центрами Госсанэпиднадзора в субъектах Российской Федерации при наличии положительного заключения центра Госсанэпиднадзора, осуществляющего надзор за данными объектами и территориями.<br>
			3.10. Перечень сведений и материалов, подлежащих включению в санитарно-эпидемиологическое заключение и приложения к нему, представлен в Приложении 1. Обязанность представления этих сведений и материалов, а также организация проведения расчетов распределения уровней ЭМП, границ санитарно-защитной зоны и зон ограничения, измерений уровней ЭМП лежит на владельце (администрации) ПРТО.<br>
			3.11. При размещении на территории (опоре, крыше здания) ПРТО антенн нескольких передатчиков проводится санитарно-эпидемиологическая экспертиза на ПРТО в целом. Санитарно-эпидемиологическое заключение также выдается на ПРТО в целом.<br>
			3.12. Не требует санитарно-эпидемиологического заключения уменьшение мощности излучения, демонтаж и окончательный вывод из работы передатчиков и антенн. Владелец (администрация) ПРТО обязан направить информацию об этом в центр Госсанэпиднадзора в субъекте Российской Федерации и, в соответствующих случаях, в специализированный центр Госсанэпиднадзора.<br>
			3.13. Не требуется получения санитарно-эпидемиологического заключения на размещение, ввод в эксплуатацию и эксплуатацию ПРТО с эффективной излучаемой мощностью не более: 200 Вт - в диапазоне частот 30 кГц - 3 МГц, 100 Вт - в диапазоне частот 3 - 30 МГц, 10 Вт - в диапазоне частот 30 МГц - 300 ГГц, при условии размещения антенны вне здания.
			<br>
			3.14. При размещении антенн радиолюбительских радиостанций (РРС) диапазона 3 - 30 МГц, радиостанций гражданского диапазона частот 26,5 - 27,5 МГц (РГД) с эффективной излучаемой мощностью более 100 Вт до 1000 Вт включительно, должна быть обеспечена невозможность доступа людей в зону установки антенны на расстояние не менее 10 м от любой ее точки. При установке на здании антенна должна быть смонтирована на высоте не менее 1,5 м над крышей при обеспечении расстояния от любой ее точки до соседних строений не менее 10 м для любого типа антенны и любого направления излучения.<br>
			3.15. При размещении антенн РРС и РГД с эффективной излучаемой мощностью от 1000 до 5000 Вт должна быть обеспечена невозможность доступа людей и отсутствие соседних строений на расстоянии не менее 25 м от любой точки антенны независимо от ее типа и направления излучения. При установке на крыше здания антенна должна монтироваться на высоте не менее 5 м над крышей.<br>
			3.16. Рекомендуется размещение антенн ПРТО (в т.ч. РРС, РГД) на отдельно стоящих опорах и мачтах.
			Допускается размещение передающих антенн на крышах жилых, общественных и других зданий и в иных местах при соблюдении условий по п.п.3.3, 3.4, 3.14, 3.15.
			Размещение только приемных антенн не ограничивается и не требует получения санитарно-эпидемиологических заключений.<br>
			3.17. В целях защиты населения от воздействия ЭМП, создаваемых антеннами ПРТО, устанавливаются санитарно-защитные зоны (СЗЗ) и зоны ограничения с учетом перспективного развития ПРТО и населенного пункта.<br>
			Границы СЗЗ определяются на высоте 2 м от поверхности земли по ПДУ, указанным в п.п.3.3 и 3.4.
			Зона ограничения представляет собой территорию, на внешних границах которой на высоте от поверхности земли более 2 м уровни ЭМП превышают ПДУ по п.п.3.3 и 3.4.
			Внешняя граница зоны ограничения определяется по максимальной высоте зданий перспективной застройки, на высоте верхнего этажа которых уровень ЭМП не превышает ПДУ по п.п.3.3 и 3.4.<br>
			3.18. Запрещается без согласования с соответствующим центром Госсанэпиднадзора внесение изменений в условия и режимы работы ПРТО (в т.ч. РРС, РГД), которые приводят к увеличению уровней ЭМП на селитебной территории.<br>
			3.19. СЗЗ и зона ограничений не могут иметь статус селитебной территории, а также не могут использоваться для размещения площадок для стоянки и остановки всех видов транспорта, предприятий по обслуживанию автомобилей, бензозаправочных станций, складов нефти и нефтепродуктов и т.п.
			СЗЗ и зона ограничений или какая-либо их часть не могут рассматриваться как резервная территория ПРТО и использоваться для расширения промышленной площадки.
			СЗЗ не может рассматриваться как территория для размещения коллективных или индивидуальных дачных и садово-огородных участков.<br>
			3.20. СЗЗ и зона ограничений определяются в соответствии с методическими указаниями, утвержденными Минздравом России, с учетом возможного суммирования ЭМП, создаваемых отдельными источниками, входящим# в состав ПРТО (п.3.4).<br>
			Границы СЗЗ и зон ограничения определяются расчетным методом и уточняются по результатам измерений уровней ЭМП.
			3.21. При определении границ СЗЗ и зон ограничения следует учитывать необходимость защиты от воздействия вторичного ЭМП, переизлучаемого элементами конструкции здания, коммуникациями, внутренней проводкой и т.д.<br>
			3.22. На технической территории ПРТО и территориях специальных полигонов не допускается размещение жилых и общественных зданий.<br>
		</p>
		<br>
		<h4 class="text-center">
			IV. Требования к проведению контроля уровней электромагнитных полей, создаваемых передающими радиотехническими объектами и их оборудованием
		</h4>
		<br>
		<h4 class="text-center">
			4.1. Общие требования к проведению контроля
		</h4>
		<p>
			4.1.1. Для контроля уровней ЭМП, создаваемых ПРТО, используются расчетные и инструментальные методы в соответствии с методическими указаниями, утвержденными в установленном порядке.<br>
			4.1.2. Расчетные методы используются для оценки электромагнитной обстановки вблизи проектируемых, действующих и реконструируемых ПРТО.
			При использовании расчетных методов контроля необходимо иметь информацию о типах передающих средств, рабочих частотах, режимах и мощностях, типах антенн, их параметрах и пространственном расположении, рельефе местности, наличии переотражающих поверхностей. По радиолокационным станциям дополнительно представляются сведения о частоте посылки импульсов, длительности импульса, частоте вращения антенны.<br>
			4.1.3. На этапе экспертизы проектной документации используются только расчетные методы определения уровней ЭМП, создаваемых ПРТО.<br>
			4.1.4. Инструментальные методы используются для контроля уровней ЭМП, создаваемых ПРТО и его оборудованием. При использовании инструментальных методов контроля должно быть обеспечено постоянство режимов и максимальной мощности излучающих средств.<br>
			4.1.5. Для контроля уровней ЭМП могут использоваться средства измерения, оснащенные датчиками направленного или ненаправленного приема.<br>
			4.1.6. Инструментальный контроль должен осуществляться средствами измерения, прошедшими государственную аттестацию и имеющими свидетельство о поверке. Пределы относительной погрешности средства измерения не должны превышать +-30%.
			Гигиеническая оценка результатов измерений осуществляется с учетом погрешности средства измерения.<br>
			4.1.7. Для измерения уровней ЭМП в диапазоне частот 30 кГц - 300 МГц используются средства измерения, предназначенные для определения среднеквадратичного значения напряженности электрического (магнитного) поля.<br>
			4.1.8. Для измерений уровней ЭМП в диапазоне частот 300 МГц - 300 ГГц используются средства измерения, предназначенные для определения среднего значения плотности потока энергии. Допускается использование средств измерения, предназначенных для определения среднеквадратичного значения напряженности электрического поля с последующим пересчетом в плотность потока энергии в соответствии с методическими указаниями, утвержденными Минздравом России в установленном порядке.<br>
		</p>
		<br>
		<h4 class="text-center">
			4.2. Требования к проведению инструментального контроля уровней электромагнитных полей
		</h4>
		<br>
		<p>
			4.2.1. Измерения уровней напряженности электрического (магнитного) поля и плотности потока энергии ЭМП должны проводиться при включении оборудования на максимальную мощность излучения в соответствии с методическими указаниями, утвержденными в установленном порядке.<br>
			4.2.2. Инструментальный контроль уровней ЭМП проводится:
			&nbsp;&nbsp;&nbsp;- при вводе в эксплуатацию ПРТО;<br>
			&nbsp;&nbsp;&nbsp;- при переоформлении (продлении) санитарно-эпидемиологического заключения на ПРТО;<br>
			&nbsp;&nbsp;&nbsp;- при изменении условий и режима работы ПРТО, влияющих на уровни ЭМП (изменение ориентации антенн, увеличение мощности передатчиков и т.д.);<br>
			&nbsp;&nbsp;&nbsp;- при изменении ситуационного плана на территории, прилегающей к ПРТО;<br>
			&nbsp;&nbsp;&nbsp;- при аттестации рабочих мест;<br>
			&nbsp;&nbsp;&nbsp;- после проведения мероприятий по снижению уровней ЭМП;<br>
			&nbsp;&nbsp;&nbsp;- не реже одного раза в три года (в зависимости от результатов динамического наблюдения периодичность проведения измерений уровней ЭМП ПРТО может быть сокращена по решению соответствующего центра Госсанэпиднадзора, но не чаще, чем один раз в год);<br>
			&nbsp;&nbsp;&nbsp;- при сертификации оборудования ПРТО;<br>
			&nbsp;&nbsp;&nbsp;- при размещении РРС и РГД, если они принадлежат:<br>
			&nbsp;&nbsp;&nbsp;- юридическим лицам;<br>
			&nbsp;&nbsp;&nbsp;- физическим лицам, но размещаются с нарушением условий, приведенных в п.3.14;<br>
			&nbsp;&nbsp;&nbsp;- если РРС и РГД имеют параметры, указанные в п.3.15.<br>
		</p>
		<br>
		<h4 class="text-center">
			V. Мероприятия по профилактике неблагоприятного воздействия на человека электромагнитных полей передающих радиотехнических объектов
		</h4>
		<br>
		<p>
			5.1. Обеспечение защиты работающих от неблагоприятного влияния ЭМП осуществляется путем проведения организационных, инженерно-технических и лечебно-профилактических мероприятий.<br>
			5.2. Организационные мероприятия предусматривают: выбор рациональных режимов работы, ограничение продолжительности пребывания персонала в условиях воздействия ЭМП, организация рабочих мест на расстояниях от источников ЭМП, обеспечивающих соблюдение нормативных требований, соблюдение правил безопасной эксплуатации источников ЭМП.<br>
			5.3. Инженерно-технические мероприятия включают рациональное размещение источников ЭМП и применение коллективных и индивидуальных средств защиты, в том числе экранирование источников ЭМП или рабочих мест.<br>
			5.4. Лица, профессионально связанные с воздействием источников ЭМП ПРТО, должны проходить предварительные при поступлении на работу и периодические медицинские осмотры в порядке, установленном соответствующим приказом Министерства здравоохранения Российской Федерации.<br>
			5.5. Владельцы (или уполномоченные лица) ПРТО, зданий, территорий и сооружений, где расположены ПРТО, обязаны пройти обучение по вопросам обеспечения санитарно-эпидемиологических требований электромагнитной безопасности работающих и населения.<br>
			5.6. Во всех случаях размещения ПРТО его владелец обязан рассматривать возможность применения различных методов защиты (пассивных и активных) для защиты общественных и производственных зданий от ЭМП на стадиях проектирования, строительства, реконструкции и эксплуатации.<br>
			5.7. В рекомендациях по защите населения от вторичных ЭМП РЧ необходимо предусматривать меры по ограничению непосредственного доступа к источникам вторичного излучения (элементам конструкции зданий, коммуникациям, различным сетям).<br>
			5.8. Территории (участки крыш), на которых уровень ЭМП превышает ПДУ для населения, и на которые возможен доступ лиц, не связанных непосредственно с обслуживанием ПРТО, должны быть ограждены и/или обозначены предупредительными знаками. При работе на этих участках (кроме персонала ПРТО) передатчики ПРТО должны отключаться.<br>
			5.9. Во всех случаях пребывания в зоне расположения антенн РРС и ИРС на расстояниях, менее регламентируемых п.п.3.14 и 3.15, лиц, не связанных с обслуживанием этих антенн, передатчик должен быть выключен.<br>
		</p>
		<br>
		<h4 class="text-center">
			VI. Требования к организации и проведению производственного контроля
		</h4>
		<br>
		<p>
			6.1. Индивидуальные предприниматели и юридические лица - владельцы (администрация) ПРТО - осуществляют производственный контроль за соблюдением настоящих Санитарных правил и проведением санитарно-противоэпидемических (профилактических) мероприятий в процессе эксплуатации ПРТО.<br>
			6.2. Производственный контроль за соблюдением настоящих Санитарных правил осуществляется в соответствии с нормативными документами по организации и проведению производственного контроля за соблюдением санитарных правил и санитарно-противоэпидемических (профилактических) мероприятий.<br>
			Главный государственный санитарный врач Российской Федерации, Первый заместитель Министра здравоохранения Российской Федерации Г.Г.Онищенко<br>             
		</p>
		<br>
		<p class="lead">
			Приложение 1 (обязательное) к СанПиН 2.1.8/2.2.4-03 от 2003 г.
		</p>
		<br>
		<p class="text-center">
			<strong>Предельно допустимые уровни электромагнитных полей диапазона частот 30 кГц - 300 ГГц на рабочих местах персонала Таблица 1</strong>
		</p>
		<table class="table table-responsive table-bordered">
			<tbody>
				<tr>
					<th rowspan="2"><p class="text-center">Параметры</p></th>
					<th colspan="5"><p class="text-center">Диапазонах частот (МГц)</p></th>
				</tr>
				<tr>
					<th>0,03 - 3,0</th>
					<th>3,0 - 30,0</th>
					<th>30,0 - 50,0</th>
					<th>50,0 - 300,0</th>
					<th>300,0 - 300000</th>
				</tr>
				<tr>
					<td>Предельно допустимое значение ЭЭ-е, (В/м)2 × ч</td>
					<td>20000</td>
					<td>7000</td>
					<td>800</td>
					<td>800</td>
					<td>-</td>
				</tr>
				<tr>
					<td>Предельно допустимое значение ЭЭ-н, (А/м)2 × ч</td>
					<td>200</td>
					<td>-</td>
					<td>0,72</td>
					<td>-</td>
					<td>-</td>
				</tr>
				<tr>
					<td>Предельно допустимое значение ЭЭ-ппэ,  (мкВт/см2) × ч</td>
					<td>-</td>
					<td>-</td>
					<td>-</td>
					<td>-</td>
					<td>200</td>
				</tr>
				<tr>
					<td>Максимальный ПДУ Е, В/м</td>
					<td>500</td>
					<td>296</td>
					<td>80</td>
					<td>80</td>
					<td>-</td>
				</tr>
				<tr>
					<td>Максимальный ПДУ Н, А/м</td>
					<td>50</td>
					<td>-</td>
					<td>3,0</td>
					<td>-</td>
					<td>-</td>
				</tr>
				<tr>
					<td>-</td>
					<td>-</td>
					<td>-</td>
					<td>-</td>
					<td>-</td>
					<td>1000</td>
				</tr>
			</tbody>
		</table>
		<p>
			Примечание - диапазоны, приведенные в таблице, исключают нижний и включают верхний предел частоты.
		</p>
		<br>
		<p class="text-center">
			<strong>Предельно допустимые уровни ЭМП диапазона частот 30 кГц - 300 ГГц для населения Таблица 2</strong>
		</p>
		<table class="table table-responsive table-bordered">
			<tbody>
				<tr>
					<td colspan="2">Диапазон частот</td>
					<td>30 - 300 кГц</td>
					<td>0,3 - 3 МГц</td>
					<td>3 - 30 МГц</td>
					<td>30 - 300 МГц</td>
					<td colspan="2">0,3 - 300 ГГц</td>
				</tr>
				<tr>
					<td colspan="2">Нормируемый параметр</td>
					<td colspan="4">Напряженность электрического поля, Е (В/м)</td>
					<td colspan="2">Плотность потока энергии, ППЭ</td>
				</tr>
				<tr>
					<td colspan="2">Предельно допустимые уровни</td>
					<td>25</td>
					<td>15</td>
					<td>10</td>
					<td>3*</td>
					<td colspan="2">10 25*</td>
				</tr>
			</tbody>
		</table>
		<br>
		<p>
			* - кроме средств радио- и телевизионного вещания (диапазон частот 48,5/108; 174 - 230 МГц);<br>
			** - для случаев облучения от антенн, работающих в режиме кругового обзора или сканирования.<br>
			Примечания:<br>
			1. Диапазоны, приведенные в таблице, исключают нижний и включают верхний предел частоты.<br>
			2. Предельно допустимые уровни ЭМП РЧ для средств радио и телевизионного вещания (диапазон частот 48,5 - 108; 174 - 230 МГц) определяются по формуле:<br>
		</p>
		<!-- FOTO -->
		<p class="text-center"><img src="/images/prto/image007.gif"></p>
		<p>
			где: ЕПДУ - значение ПДУ напряженности электрического поля, В/м;<br>
		    &nbsp;&nbsp;&nbsp;f - частота, МГц;<br>
			3. Напряженность электрического поля радиолокационных станций специального назначения, предназначенных для контроля космического пространства, радиостанций для осуществления связи через космическое пространство, работающих в диапазоне частот 150 - 300 МГц в режиме электронного сканирования луча, на территории населенных мест, расположенной в ближней зоне излучения, не должна превышать 6 В/м и на территории населенных мест, расположенных в дальней зоне излучения - 19 В/м.<br>
			Граница дальней зоны излучения станций определяется из соотношения:<br>
		</p>
		<!-- FOTO -->
		<p class="text-center"><img src="/images/prto/image008.gif"></p>
		<p>
			где: r - расстояние от антенны, м;<br>
     		&nbsp;&nbsp;&nbsp;D - максимальный линейный размер антенны, м;<br>
     		&nbsp;&nbsp;&nbsp;l - длина волны, м.<br>
		</p>
		<br>
		<p class="lead">
			Приложение 2 к СанПиН 2.1.8/2.2.4-03 от 2003 г.
		</p>
		<br>
		<p class="text-center">
			Перечень сведений, подлежащих включению в санитарно-эпидемиологическое заключение и приложения к нему
		</p>
		<p>
			1. Наименование владельца ПРТО, его принадлежность (подчиненность) и почтовый адрес.<br>
			2. Наименование ПРТО (в т.ч. РРС, РГД), место расположения (адрес) и год ввода в эксплуатацию.<br>
			3. Сведения о реконструкции ПРТО.<br>
			4. Ситуационный план в масштабе 1:500 с указанием мест установки антенн, прилегающей территории, зданий с отметкой их этажности, а также границ СЗЗ (составляется для стационарно размещенных средств радиосвязи).<br>
			5. Количество передатчиков и их мощность; рабочие частоты (диапазон частот) по каждому передатчику; тип модуляции.<br>
			6. Сведения по каждой антенне: тип, высота установки антенны от поверхности земли, азимут и угол места максимального излучения, диаграммы направленности в горизонтальной и вертикальной плоскостях и коэффициент усиления (кроме антенн НЧ, СЧ и ВЧ диапазонов), с каким передатчиком работает антенна. По радиолокационным станциям дополнительно представляются сведения о частоте посылки импульсов, длительности импульса, частоте вращения антенны.<br>
			7. Временные характеристики работы передатчиков на излучение.<br>
			8. Материалы расчета распределения уровней ЭМП на прилегающей к ПРТО территории с указанием границ СЗЗ и зон ограничения.<br>
			9. Результаты (протоколы) измерений уровней электромагнитных полей на территории, прилегающей к ПРТО (за исключением проектируемых объектов).<br>
			Примечание:<br>
			При работе ПРТО, установленного на транспортных средствах при работе на постоянных или временных стоянках, санитарно-эпидемиологическое заключение выдается на объект базирования транспортных средств в целом, либо на одиночное транспортное средство.<br>
			Сведения, подлежащие включению в санитарно-эпидемиологическое заключение ПРТО, предоставляются владельцем (администрацией) территории (крыши, опоры) ПРТО и служат основанием для проведения санитарно-эпидемиологической экспертизы. Сведения по п.п.4 - 9 включаются в приложение к санитарно-эпидемиологическому заключению.<br>
		</p>
	</div>
</template>