<template name="IzmereniePamytka">
	<br>
	<br>
	<a class="btn btn-info" href="{{pathFor 'Izmerenie'}}">
		<i class="fa fa-arrow-left">&nbsp;Назад к измерениям</i>
	</a>
	<br>
	<br>
	<table class="table table-bordered table-hover">
	<tbody>
		<tr>
			<td><b>Металлосвязь</b></td>
			<td>Проверка происходит 1 раз в 5 лет а также после каждой перестановки эл.оборудования и монтажа нового.</td>
		</tr>
		<tr>
			<td><b>Сопротивление изоляции проводов до 1кВ</b></td>
			<td>Проверка происходит 1 раз в 3 года СОМ 1 раз в год</td>
		</tr>
		<tr>
			<td><b>Измерения петли “фаза-нуль”</b></td>
			<td>Проверка происходит 1 раз в 5 лет</td>
		</tr>
		<tr>
			<td><b>Сопротивление заземления</b></td>
			<td>Проверка происходит 1 раз в год</td>
		</tr>
		<tr>
			<td><b>Огнетушители</b></td>
			<td>
				1) 1 раз в квартал составление паспорта на огнетушители<br>
				2) 1 раз в год взвешивание:	если отличие от прошлого измерения на ±50 г → перезаправка/брак
			</td>
		</tr>
		<tr>
			<td><b>СИЗ’ы</b></td>
			<td>По мере срока</td>
		</tr>
	</tbody>
	</table>
</template>