<template name="IzmereniePamytka">
	<br>
	<br>
	<a class="btn btn-info" href="{{pathFor 'Izmerenie'}}">
		<i class="fa fa-arrow-left">&nbsp;Назад к измерениям</i>
	</a>
	<br>
	<br>
	<table class="table table-bordered table-hover">
	<tbody>
		<tr>
			<td>Металлосвязь</td>
			<td>Проверка происходит 1 раз в 5 лет а также после каждой перестановки эл.оборудования и монтажа нового.</td>
		</tr>
		<tr>
			<td>Сопротивление изоляции проводов до 1кВ</td>
			<td>Проверка происходит 1 раз в 3 года СОМ 1 раз в год</td>
		</tr>
		<tr>
			<td>Измерения петли “фаза-нуль”</td>
			<td>Проверка происходит 1 раз в 5 лет</td>
		</tr>
		<tr>
			<td>Сопротивление заземления</td>
			<td>Проверка происходит 1 раз в год</td>
		</tr>
		<tr>
			<td>Огнетушители</td>
			<td>
				1) 1 раз в квартал составление паспорта на огнетушители<br>
				2) 1 раз в год взвешивание:	если отличие от прошлого измерения на ±50 г → перезаправка/брак
			</td>
		</tr>
		<tr>
			<td>СИЗ’ы</td>
			<td>По мере срока</td>
		</tr>
	</tbody>
	</table>
</template>