<template name="layout">
	<div class="container-fluid">
		{{> header}}
		<br>
		<br>
		<br>
		<br>
		<div id="main" class="row-fluid">
			{{> yield}}
		</div>
		<br>
		<br>
		<br>
		<br>
	</div>
	<!-- <footer>
		<div class="footer-bottom navbar-bottom">
			<div class="container">
				<p class="pull-left">© SHAP {{dateYear}}</p>
				<div class="pull-right">
					<ul class="nav nav-pills payments">
						<li><i class="fa fa-linux"></i></li>
						<li><i class="fa fa-github"></i></li>
						<li><i class="fa fa fa-css3"></i></li>
						<li><i class="ion-social-nodejs"></i></li>
						<li><i class="ion-social-javascript-outline"></i></li>
					</ul> 
				</div>
			</div>
		</div>
	</footer> -->
</template>
