<template name="insertSkladForm">
	<div class="col-md-4 centered">
		<a class="btn btn-info" href="{{pathFor 'skladList'}}">
			<i class="fa fa-arrow-left">&nbsp;Назад к списку</i>
		</a>
		<br>
		<br>
		<legend>Склад</legend>
		{{> quickForm collection="Sklads" buttonContent="Создать" id="insertSkladForm" type="insert"}}
  	</div>
</template>

<template name="updateSkladForm">
	<a class="btn btn-info" href="{{pathFor 'skladList'}}">
		<i class="fa fa-arrow-left">&nbsp;Назад к списку</i>
	</a>
	<br>
	<br>
	<!-- editSklad -->
	<a href="#" data-toggle="collapse" data-target="#editSklad">Редактировать склад</a>
	<hr>
	<div class="col-md-4 centered">
		<div id="editSklad" class="collapse in">
		<legend>Склад</legend>
		{{#if isInRole 'admin,moderator'}}
	  		{{> quickForm collection="Sklads" buttonContent="Изменить" doc=this id="updateSkladForm" type="update"}}
	  	{{else}}
	  		{{> quickForm collection="Sklads" buttonContent=false doc=this id="updateSkladForm" }}
	  	{{/if}}
	  	</div>
	</div>
	<!-- End editSklad -->
	{{#if AMSsCount}}
		<!-- listAMS -->
		<a href="#" data-toggle="collapse" data-target="#listAMS">Список АМС на складе</a>
		<hr>
		<div id="listAMS" class="collapse">
			Всего АМС на складе: {{AMSsCount}}
			{{> reactiveTable settings=settingsListAMS}}
		</div>
		<!-- End listAMS -->
	{{/if}}
	{{#if TechZdaniasCount}}
		<!-- listTechZdanias -->
		<a href="#" data-toggle="collapse" data-target="#listTechZdanias">Список тех. зданий на складе</a>
		<hr>
		<div id="listTechZdanias" class="collapse">
			Всего тех. зданий на складе: {{TechZdaniasCount}}
			{{> reactiveTable settings=settingsListTechZdania}}
		</div>
		<!-- End listTechZdanias -->
	{{/if}}
	{{#if AFYsCount}}
		<!-- listAFYs -->
		<a href="#" data-toggle="collapse" data-target="#listAFYs">Список АФУ на складе</a>
		<hr>
		<div id="listAFYs" class="collapse">
			Всего АФУ на складе: {{AFYsCount}}
			{{> reactiveTable settings=settingsListAFY}}
		</div>
		<!-- End listAFYs -->
	{{/if}}
	{{#if StancionOborydsCount}}
		<!-- listStancionOboryds -->
		<a href="#" data-toggle="collapse" data-target="#listStancionOboryds">Список станцион. оборудования на складе</a>
		<hr>
		<div id="listStancionOboryds" class="collapse">
			Всего станцион. оборудования на складе: {{StancionOborydsCount}}
			{{> reactiveTable settings=settingsListStancionOboryd}}
		</div>
		<!-- End listStancionOboryds -->
	{{/if}}
	{{#if CizsCount}}
		<!-- ListCizs -->
		<a href="#" data-toggle="collapse" data-target="#ListCizs">Список СИЗ на складе</a>
		<hr>
		<div id="ListCizs" class="collapse">
			Всего СИЗ на складе: {{CizsCount}}
			{{> reactiveTable settings=settingsListCiz}}
		</div>
		<!-- End ListCizs -->
	{{/if}}
	{{#if SpezOdezdasCount}}
		<!-- ListSpezOdezdas -->
		<a href="#" data-toggle="collapse" data-target="#ListSpezOdezdas">Список спец. одежды на складе</a>
		<hr>
		<div id="ListSpezOdezdas" class="collapse">
			Всего спец. одежды на складе: {{SpezOdezdasCount}}
			{{> reactiveTable settings=settingsListSpezOdezda}}
		</div>
		<!-- End ListSpezOdezdas -->
	{{/if}}

</template>

<template name="skladList">
	{{#if isInRole 'moderator,admin'}}
		<a class="btn btn-success" href="{{pathFor 'insertSkladForm'}}">
			<i class="fa fa-plus">&nbsp;Добавить склад</i>
		</a>
	{{/if}}
	<br>
	<br>
	<legend>Список складов</legend>
	Всего складов: {{SkladsCount}}
	{{> reactiveTable settings=settings}}
</template>