<template name="insertAlarmForm">
	<div class="col-md-4 centered">
		<a class="btn btn-info" href="{{pathFor 'AlarmList'}}">
			<i class="fa fa-arrow-left">&nbsp;Назад к списку</i>
		</a>
		<br>
		<br>
		<legend>Аварии</legend>
		{{> quickForm collection="Alarms" buttonContent="Создать" id="insertAlarmForm" type="insert" fields="name,type,mesto,date,primechanie"}}
  	</div>
</template>

<template name="updateAlarmForm">
	<div class="col-md-4 centered">
		<a class="btn btn-info" href="{{pathFor 'AlarmList'}}">
			<i class="fa fa-arrow-left">&nbsp;Назад к списку</i>
		</a>
		<br>
		<br>
		<legend>Аварии</legend>
		{{#if isInRole 'admin,moderator'}}
	  		{{> quickForm collection="Alarms" buttonContent="Изменить" doc=this id="updateAlarmForm" type="update" fields="name,type,mesto,date,primechanie"}}
	  	{{else}}
	  		{{> quickForm collection="Alarms" buttonContent=false doc=this id="updateAlarmForm" fields="name,type,mesto,date,primechanie"}}
	  	{{/if}}
	</div>
</template>

<template name="AlarmList">
	{{#if isInRole 'moderator,admin'}}
		<a class="btn btn-success" href="{{pathFor 'insertAlarmForm'}}">
			<i class="fa fa-plus">&nbsp;Добавить Аварию</i>
		</a>
	{{/if}}
	<br>
	<br>
	<legend>Список аварий</legend>
	Всего аварий: {{AlarmsCount}}
	{{> reactiveTable settings=settings}}
</template>