<template name="insertTechZdaniaForm">
	<div class="col-md-4 centered">
		<a class="btn btn-info" href="{{pathFor 'TechZdaniaList'}}">
			<i class="fa fa-arrow-left">&nbsp;Назад к списку</i>
		</a>
		<br>
		<br>
		<legend>Тех. здания</legend>
		{{> quickForm collection="TechZdanias" buttonContent="Создать" id="insertTechZdaniaForm" type="insert" fields="adress,mesto,god_postroiki,god_pereoboryd,material_sten_vnesh_obhifka,material_sten_vertical_stoiki_mezdy_polom_potolkom,material_sten_verticalnie_stoiki,material_sten_yteplitel,material_sten_vnytrennya_obshifka,krovla,perekritia,chislo_etozei,systema_otoplenia,nalichie_vodoprovoda,nalichie_kanalizacii,kybatura,organizaciya,sistema_ventilacii,gazosnabzenie,sistema_gorachego_vodosnabzenie"}}
  	</div>
</template>

<template name="updateTechZdaniaForm">
	<div class="col-md-4 centered">
		<a class="btn btn-info" href="{{pathFor 'TechZdaniaList'}}">
			<i class="fa fa-arrow-left">&nbsp;Назад к списку</i>
		</a>
		<br>
		<br>
		<legend>Тех. здания</legend>
		{{#if isInRole 'admin,moderator'}}
	  		{{> quickForm collection="TechZdanias" buttonContent="Изменить" doc=this id="updateTechZdaniaForm" type="update" fields="adress,mesto,god_postroiki,god_pereoboryd,material_sten_vnesh_obhifka,material_sten_vertical_stoiki_mezdy_polom_potolkom,material_sten_verticalnie_stoiki,material_sten_yteplitel,material_sten_vnytrennya_obshifka,krovla,perekritia,chislo_etozei,systema_otoplenia,nalichie_vodoprovoda,nalichie_kanalizacii,kybatura,organizaciya,sistema_ventilacii,gazosnabzenie,sistema_gorachego_vodosnabzenie"}}
	  	{{else}}
	  		{{> quickForm collection="TechZdanias" buttonContent=false doc=this id="updateTechZdaniaForm" fields="adress,mesto,god_postroiki,god_pereoboryd,material_sten_vnesh_obhifka,material_sten_vertical_stoiki_mezdy_polom_potolkom,material_sten_verticalnie_stoiki,material_sten_yteplitel,material_sten_vnytrennya_obshifka,krovla,perekritia,chislo_etozei,systema_otoplenia,nalichie_vodoprovoda,nalichie_kanalizacii,kybatura,organizaciya,sistema_ventilacii,gazosnabzenie,sistema_gorachego_vodosnabzenie"}}
	  	{{/if}}
	</div>
</template>

<template name="TechZdaniaList">
	{{#if isInRole 'moderator,admin'}}
		<a class="btn btn-success" href="{{pathFor 'insertTechZdaniaForm'}}">
			<i class="fa fa-plus">&nbsp;Добавить Тех. здание</i>
		</a>
	{{/if}}
	<br>
	<br>
	<legend>Список тех. зданий</legend>
	Всего Тех. зданий: {{TechZdaniasCount}}
	{{> reactiveTable settings=settings}}
</template>