<template name="insertCizForm">
	<div class="col-md-4 centered">
		<a class="btn btn-info" href="{{pathFor 'CizList'}}">
			<i class="fa fa-arrow-left">&nbsp;Назад к списку</i>
		</a>
		<br>
		<br>
		<!-- {{> quickForm collection="Cizs" buttonContent="Создать" id="insertCizForm" type="insert"}} -->
		{{#autoForm collection="Cizs" id="insertCizForm" type="insert"}}
			<fieldset>
				<legend>СИЗ</legend>
				{{> afQuickField name='mesto'}}
				<!-- Номер карты -->
				{{#if nomerKarti}}
					<div class="form-group">
						<label class="control-label">Номер карты:</label>
						{{nomerKarti}}
					</div>
				{{/if}}
				<!-- end Номер карты -->
				{{> afQuickField name='number'}}
				{{> afQuickField name='typeCiz'}}
				{{> afQuickField name='nameCiz' firstOption="(Выберите СИЗ)" options=nameCizOptions}}
				<!-- Период поверки -->
				{{#if periodPoverki}}
					<div class="form-group">
						<label class="control-label">Период поверки:</label>
						{{periodPoverki}}
					</div>
				{{/if}}
				<!-- end Период поверки-->
				{{> afQuickField name='datePoverki'}}
				<!-- Дата следующей поверки -->
				{{#if dateSledPoverki}}
					<div class="form-group">
						<label class="control-label">Дата следующей поверки:</label>
						{{dateSledPoverki}}
					</div>
				{{/if}}
				<!-- end Дата следующей поверки-->
				<!-- Поверка -->
				{{#if poverka}}
					<div class="form-group">
						<label class="control-label">Поверка:</label>
						{{poverka}}
					</div>
				{{/if}}
				<!-- end Поверка -->
			</fieldset>
			<button type="submit" class="btn btn-primary">Создать</button>
		{{/autoForm}}
	</div>
</template>

<template name="updateCizForm">
	<div class="col-md-4 centered">
		<a class="btn btn-info" href="{{pathFor 'CizList'}}">
			<i class="fa fa-arrow-left">&nbsp;Назад к списку</i>
		</a>
		<br>
		<br>
		<!-- {{#if isInRole 'admin,moderator'}}
			{{> quickForm collection="Cizs" buttonContent="Изменить" doc=this id="updateCizForm" type="update"}}
		{{else}}
			{{> quickForm collection="Cizs" buttonContent=false doc=this id="updateCizForm" }}
		{{/if}} -->
		{{#autoForm collection="Cizs" id="updateCizForm" doc=this type="update"}}
			<fieldset>
				<legend>СИЗ</legend>
				{{> afQuickField name='mesto'}}
				<!-- Номер карты -->
				{{#if nomerKarti}}
					<div class="form-group">
						<label class="control-label">Номер карты:</label>
						{{nomerKarti}}
					</div>
				{{/if}}
				<!-- end Номер карты -->
				{{> afQuickField name='number'}}
				{{> afQuickField name='typeCiz'}}
				{{> afQuickField name='nameCiz' firstOption="(Выберите СИЗ)" options=nameCizOptions}}
				<!-- Период поверки -->
				{{#if periodPoverki}}
					<div class="form-group">
						<label class="control-label">Период поверки:</label>
						{{periodPoverki}}
					</div>
				{{/if}}
				<!-- end Период поверки-->
				{{> afQuickField name='datePoverki'}}
				<!-- Дата следующей поверки -->
				{{#if dateSledPoverki}}
					<div class="form-group">
						<label class="control-label">Дата следующей поверки:</label>
						{{dateSledPoverki}}
					</div>
				{{/if}}
				<!-- end Дата следующей поверки-->
				<!-- Поверка -->
				{{#if poverka}}
					<div class="form-group">
						<label class="control-label">Поверка:</label>
						{{poverka}}
					</div>
				{{/if}}
				<!-- end Поверка -->
			</fieldset>
			<button type="submit" class="btn btn-primary">Изменить</button>
		{{/autoForm}}
	</div>
</template>

<template name="CizList">
	{{#if isInRole 'moderator,admin'}}
		<a class="btn btn-success" href="{{pathFor 'insertCizForm'}}">
			<i class="fa fa-plus">&nbsp;Добавить СИЗ</i>
		</a>
	{{/if}}
	<br>
	<br>
	Всего СИЗ: {{CizsCount}}
	{{> reactiveTable settings=settings}}
</template>

