<template name="insertWorkerForm">
	<div class="col-md-4 centered">
		<a class="btn btn-info" href="{{pathFor 'WorkerList'}}">
			<i class="fa fa-arrow-left">&nbsp;Назад к списку</i>
		</a>
		<br>
		<br>
		<legend>Работник</legend>
		{{> quickForm collection="Workers" buttonContent="Создать" id="insertWorkerForm" type="insert" fields="Familia,Name,Otchestvo,nomerKarti,cex,tabel_nomer,data_postyplenia_na_raboty,pol,rost,razmer_odezdi,razmer_obyvi,razmer_golovnogo_ubora,tel,tel_rab,dolznost,podpis"}}
  	</div>
</template>

<template name="updateWorkerForm">
	<a class="btn btn-info" href="{{pathFor 'WorkerList'}}">
		<i class="fa fa-arrow-left">&nbsp;Назад к списку</i>
	</a>
	<br>
	<br>
	<!-- editWorker -->
	<a href="#" data-toggle="collapse" data-target="#editObectExplyat">Редактировать работника</a>
	<hr>
	<div class="col-md-4 centered">
		<div id="editObectExplyat" class="collapse in">
			<legend>Работник</legend>
			{{#if isInRole 'admin,moderator'}}
				{{> quickForm collection="Workers" buttonContent="Изменить" doc=this id="updateWorkerForm" type="update" fields="Familia,Name,Otchestvo,nomerKarti,cex,tabel_nomer,data_postyplenia_na_raboty,pol,rost,razmer_odezdi,razmer_obyvi,razmer_golovnogo_ubora,tel,tel_rab,dolznost,podpis"}}
			{{else}}
				{{> quickForm collection="Workers" buttonContent=false doc=this id="updateWorkerForm" fields="Familia,Name,Otchestvo,nomerKarti,cex,tabel_nomer,data_postyplenia_na_raboty,pol,rost,razmer_odezdi,razmer_obyvi,razmer_golovnogo_ubora,tel,tel_rab,dolznost,podpis"}}
			{{/if}}
		</div>
	</div>
	<!-- End editWorker -->
	{{#if ObectExplyatsCount}}
		<!-- listObectExplyat -->
		<a href="#" data-toggle="collapse" data-target="#listObectExplyat">Список объектов эксплуатации за которые отвечает данный работник</a>
		<hr>
		<div id="listObectExplyat" class="collapse">
			Всего объектов эксплуатации за которые отвечает данный работник: {{ObectExplyatsCount}}
			{{> reactiveTable settings=settingsListObectExplyat}}
		</div>
		<!-- End listObectExplyat -->
	{{/if}}
	{{#if CizsCount}}
		<!-- listCiz -->
		<a href="#" data-toggle="collapse" data-target="#listCiz">Список СИЗ которые закреплены за данным работником</a>
		<hr>
		<div id="listCiz" class="collapse">
			Всего СИЗ которые закреплены за данным работником: {{CizsCount}}
			{{> reactiveTable settings=settingsListCiz}}
		</div>
		<!-- End listCiz -->
	{{/if}}
	{{#if SpezOdezdasCount}}
		<!-- listSpezOdezda -->
		<a href="#" data-toggle="collapse" data-target="#listSpezOdezda">Список спец. одежды которая закреплена за данным работником</a>
		<hr>
		<div id="listSpezOdezda" class="collapse">
			Всего спец. одежды которая закреплена за данным работником: {{SpezOdezdasCount}}
			{{> reactiveTable settings=settingsListSpezOdezda}}
		</div>
		<!-- End listSpezOdezda -->
	{{/if}}


</template>

<template name="WorkerList">
	{{#if isInRole 'moderator,admin'}}
		<a class="btn btn-success" href="{{pathFor 'insertWorkerForm'}}">
			<i class="fa fa-plus">&nbsp;Добавить работника</i>
		</a>
	{{/if}}
	<br>
	<br>
	<legend>Список работников</legend>
	Всего работников: {{WorkersCount}}
	{{> reactiveTable settings=settings}}
</template>