<template name="insertObectExplyatForm">
	<div class="col-md-4 centered">
		<a class="btn btn-info" href="{{pathFor 'ObectExplyatList'}}">
			<i class="fa fa-arrow-left">&nbsp;Назад к списку</i>
		</a>
		<br>
		<br>
		{{> quickForm collection="ObectExplyats" buttonContent="Создать" id="insertObectExplyatForm" type="insert"}}
  	</div>
</template>

<template name="updateObectExplyatForm">
	<a class="btn btn-info" href="{{pathFor 'ObectExplyatList'}}">
		<i class="fa fa-arrow-left">&nbsp;Назад к списку</i>
	</a>
	<br>
	<br>
	<!-- editObectExplyat -->
	<a href="#" data-toggle="collapse" data-target="#editObectExplyat">Редактировать объект эксплуатации</a>
	<hr>
	<div class="col-md-4 centered">
		<div id="editObectExplyat" class="collapse in">
		{{#if isInRole 'admin,moderator'}}
	  		{{> quickForm collection="ObectExplyats" buttonContent="Изменить" doc=this id="updateObectExplyatForm" type="update"}}
	  	{{else}}
	  		{{> quickForm collection="ObectExplyats" buttonContent=false doc=this id="updateObectExplyatForm" }}
	  	{{/if}}
	  	</div>
	</div>
	<!-- End editObectExplyat -->
	{{#if AlarmsCount}}
		<!-- listAlarm -->
		<a href="#" data-toggle="collapse" data-target="#listAlarm">Список аварий на объекте эксплуатации</a>
		<hr>
		<div id="listAlarm" class="collapse">
			Всего аварий на объекте эксплуатации: {{AlarmsCount}}
			{{> reactiveTable settings=settingsListAlarm}}
		</div>
		<!-- End listAlarm -->
	{{/if}}
	{{#if AMSsCount}}
		<!-- listAMS -->
		<a href="#" data-toggle="collapse" data-target="#listAMS">Список АМС на объекте эксплуатации</a>
		<hr>
		<div id="listAMS" class="collapse">
			Всего АМС на объекте эксплуатации: {{AMSsCount}}
			{{> reactiveTable settings=settingsListAMS}}
		</div>
		<!-- End listAMS -->
	{{/if}}
</template>

<template name="ObectExplyatList">
	{{#if isInRole 'moderator,admin'}}
		<a class="btn btn-success" href="{{pathFor 'insertObectExplyatForm'}}">
			<i class="fa fa-plus">&nbsp;Добавить объект эксплуатации</i>
		</a>
	{{/if}}
	<br>
	<br>
	Всего объектов эксплуатации: {{ObectExplyatsCount}}
	{{> reactiveTable settings=settings}}
</template>