<template name="insertObectExplyatForm">
	<div class="col-md-4 centered">
		<a class="btn btn-info" href="{{pathFor 'ObectExplyatList'}}">
			<i class="fa fa-arrow-left">&nbsp;Назад к списку</i>
		</a>
		<br>
		<br>
		<legend>Объект эксплуатации</legend>
		{{> quickForm collection="ObectExplyats" buttonContent="Создать" id="insertObectExplyatForm" type="insert"}}
  	</div>
</template>

<template name="updateObectExplyatForm">
	<a class="btn btn-info" href="{{pathFor 'ObectExplyatList'}}">
		<i class="fa fa-arrow-left">&nbsp;Назад к списку</i>
	</a>
	<br>
	<br>
	<!-- editObectExplyat -->
	<a href="#" data-toggle="collapse" data-target="#editObectExplyat">Редактировать объект эксплуатации</a>
	<hr>
	<div class="col-md-4 centered">
		<div id="editObectExplyat" class="collapse in">
		<legend>Объект эксплуатации</legend>
		{{#if isInRole 'admin,moderator'}}
	  		{{> quickForm collection="ObectExplyats" buttonContent="Изменить" doc=this id="updateObectExplyatForm" type="update"}}
	  	{{else}}
	  		{{> quickForm collection="ObectExplyats" buttonContent=false doc=this id="updateObectExplyatForm" }}
	  	{{/if}}
	  	</div>
	</div>
	<!-- End editObectExplyat -->
	{{#if AlarmsCount}}
		<!-- listAlarm -->
		<a href="#" data-toggle="collapse" data-target="#listAlarm">Список аварий на объекте эксплуатации</a>
		<hr>
		<div id="listAlarm" class="collapse">
			Всего аварий на объекте эксплуатации: {{AlarmsCount}}
			{{> reactiveTable settings=settingsListAlarm}}
		</div>
		<!-- End listAlarm -->
	{{/if}}
	{{#if AMSsCount}}
		<!-- listAMS -->
		<a href="#" data-toggle="collapse" data-target="#listAMS">Список АМС на объекте эксплуатации</a>
		<hr>
		<div id="listAMS" class="collapse">
			Всего АМС на объекте эксплуатации: {{AMSsCount}}
			{{> reactiveTable settings=settingsListAMS}}
		</div>
		<!-- End listAMS -->
	{{/if}}
	{{#if TechZdaniasCount}}
		<!-- listTechZdania -->
		<a href="#" data-toggle="collapse" data-target="#listTechZdania">Список тех. зданий на объекте эксплуатации</a>
		<hr>
		<div id="listTechZdania" class="collapse">
			Всего тех. зданий на объекте эксплуатации: {{TechZdaniasCount}}
			{{> reactiveTable settings=settingsListTechZdania}}
		</div>
		<!-- End listTechZdania -->
	{{/if}}
	{{#if AFYsCount}}
		<!-- listAFY -->
		<a href="#" data-toggle="collapse" data-target="#listAFY">Список АФУ на объекте эксплуатации</a>
		<hr>
		<div id="listAFY" class="collapse">
			Всего АФУ на объекте эксплуатации: {{AFYsCount}}
			{{> reactiveTable settings=settingsListAFY}}
		</div>
		<!-- End listAFY -->
	{{/if}}
	{{#if StancionOborydsCount}}
		<!-- listStancionOboryd -->
		<a href="#" data-toggle="collapse" data-target="#listStancionOboryd">Список станцион. оборудования на объекте эксплуатации</a>
		<hr>
		<div id="listStancionOboryd" class="collapse">
			Всего станцион. оборудования на объекте эксплуатации: {{StancionOborydsCount}}
			{{> reactiveTable settings=settingsListStancionOboryd}}
		</div>
		<!-- End listStancionOboryd -->
	{{/if}}
	{{#if CizsCount}}
		<!-- listCiz -->
		<a href="#" data-toggle="collapse" data-target="#listCiz">Список СИЗ на объекте эксплуатации</a>
		<hr>
		<div id="listCiz" class="collapse">
			Всего Сиз на объекте эксплуатации: {{CizsCount}}
			{{> reactiveTable settings=settingsListCiz}}
		</div>
		<!-- End listCiz -->
	{{/if}}
</template>

<template name="ObectExplyatList">
	{{#if isInRole 'moderator,admin'}}
		<a class="btn btn-success" href="{{pathFor 'insertObectExplyatForm'}}">
			<i class="fa fa-plus">&nbsp;Добавить объект эксплуатации</i>
		</a>
	{{/if}}
	<a class="btn btn-info" href="{{pathFor 'PRTOopisanie'}}">
		Описание ПРТО
	</a>
	<br>
	<br>
	<legend>Список объектов эксплуатации</legend>
	Всего объектов эксплуатации: {{ObectExplyatsCount}}
	{{> reactiveTable settings=settings}}
</template>