<template name="dashboard">
	<div class="container-fluid">
		<!-- <div class="row">
			<div class="col-md-12">
				{{> carousel}}
			</div>
		</div> -->
		
		<div class="row">
				<a href="{{pathFor 'userList'}}" class="col-md-2 btn btn-default text-center"><i class="fa fa-user-plus fa-lg"></i><b>&nbsp;{{UsersCount}}</b><br><span>Пользователей</span></a>
			<a href="{{pathFor 'AMSList'}}" class="col-md-2 btn btn-default text-center"><i class="fa fa fa-tree fa-lg"></i><b>&nbsp;{{AMSsCount}}</b><br><span>АМС</span></a>
				<a href="{{pathFor 'ObectExplyatList'}}" class="col-md-2 btn btn-default text-center"><i class="fa fa-home fa-lg"></i><b>&nbsp;{{ObectExplyatsCount}}</b><br><span>Объектов эксплуатации</span></a>
				<a href="{{pathFor 'CizList'}}" class="col-md-2 btn btn-default text-center"><i class="fa fa-wrench fa-lg"></i><b>&nbsp;{{CizsCount}}</b><br><span>СИЗ</span></a>
				<a href="{{pathFor 'AFYList'}}" class="col-md-2 btn btn-default text-center"><i class="fa fa-wifi fa-lg"></i><b>&nbsp;{{AFYsCount}}</b><br><span>АФУ</span></a>
				<a href="{{pathFor 'AlarmList'}}" class="col-md-2 btn btn-default text-center"><i class="fa fa-exclamation-triangle fa-lg"></i><b>&nbsp;{{AlarmsCount}}</b><br><span>Аварий</span></a>
		</div>
		<br>
		<br>
		<div class="row">
			<div class="col-md-6">
				<legend class="text-center">График регистрации пользователей</legend>
				<div class="user_chart"></div>
			</div>
			<div class="col-md-6">
				<legend class="text-center">График высот АМС</legend>
				<div class="ams_chart"></div>
			</div>
		</div>
	</div>
</template>

<!-- <template name="carousel">  
	<div id="carousel">
		<div><img src="/images/mongoDBmain4.png" width="100%" /></div>
		<div><img src="/images/meteorjsmain1.png" width="100%" /></div>
		<div><img src="/images/image2.jpg" width="100%" /></div>
	</div>
</template> -->